# 目标：ESP32-C3 SuperMini（4MB flash）
CONFIG_IDF_TARGET="esp32c3"

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y

CONFIG_FREERTOS_HZ=1000

# 深睡：flash 断电，目标 <20µA
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=y

# 板载 USB-JTAG 出日志。⚠ 烧录前先把拨动开关拨到关（防 5V 倒灌进电池）
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
